header{

    background-color: #238C48;
    color: white;
    font-weight: bolder;
    text-align: center;
    padding: 3px;
    margin: 0px;
    
}

header>h1{
    margin: 0px;
}

header>p{
    margin: 0px;
    padding: 10px;
}

body{
    background-color: #E8E5C2;
    padding: 20px;
}

main{
    display: block;
    background-color: white;
    margin: 30px;
    padding: 30px;
}

@font-face {
    font-family: 'android';
    src: url('idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
h1#principal{
    font-family: 'android' , Times, serif;
    font-size: 2em;
    font-weight: normal;
}

footer{
    background-color: black;
    color: white;
}
