header{

    background-color: #238C48;
    color: white;
    height: auto;
    width: auto;
    padding: 3px;
    margin: 0px;
    
}

h1#principal{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 22px;
    text-align: center;
}

header>p{
    font-weight: normal;
    text-align: center;
}

a{
    color: white;
    text-decoration: none;
    padding-right: 10px;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

body{
    background-color: #E8E5C2;
    margin: 0px;
}

main{
    background-color: white;
    margin: 0px 186px;
}

@font-face {
    font-family: 'android';
    src: url('idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
div>h1{
    font-family: 'android' , Times, serif;
    color: #238C48;
    font-size: 2em;
    font-weight: bolder;
    text-align: left;
    text-indent: 5px;
}

div>h2{
    font-family: 'android' , Times, serif;
    color: #238C48;
    font-size: 1em;
    font-weight: bolder;
    text-align: left;
    text-indent: 5px;
}

div>p{
    text-indent: 10px;
}


footer{
    background-color: black;
    color: white;
}
